<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的订单</title>
    <link rel="stylesheet" th:href="@{static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{static/css/common.css}" />
    <link rel="stylesheet" th:href="@{static/css/cart.css}" />
    <link rel="stylesheet" th:href="@{static/css/bookManger.css}" />
    <link rel="stylesheet" th:href="@{static/css/orderManger.css}" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{index}">
            <img th:src="@{static/img/logo.gif}" alt=""
          /></a>
          <h1>我的订单</h1>
        </div>
        <div class="header-right">
          <h3>欢迎<span th:text="${session.username}">会员</span>光临Deer书城</h3>
          <div class="order"><a th:href="@{order(method='myOrder')}">我的订单</a></div>
          <div class="destory"><a th:href="@{UserServlet(user='logout')}">注销</a></div>
          <div class="gohome">
            <a th:href="@{index}">返回</a>
          </div>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>订单号</th>
              <th>订单日期</th>
              <th>订单金额</th>
              <th>订单数量</th>
              <th>订单状态</th>
              <th>订单详情</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item : ${session.myOrderList}">
              <td th:text="${item.getOrderId()}">12354456895</td>
              <td th:text="${item.getCreateTime()}">
                2015.04.23
              </td>
              <td th:text="${item.getOrderAmount()}">90.00</td>
              <td th:text="${item.getOrderCount()}">88</td>
              <td>
                <a href="" class="send" th:if="${item.getOrderStatus() == 0}">未发货</a>
                <a href="" class="send" th:if="${item.getOrderStatus() == 1}">正在配货</a>
                <a href="" class="send" th:if="${item.getOrderStatus() == 2}">已发货</a>
              </td>
              <td><a th:href="@{order(method='seeOrderDetail',id=${item.getOrderId()})}">查看详情</a></td>
            </tr>
          </tbody>
        </table>
<!--        <div class="footer">-->
<!--          <div class="footer-right">-->
<!--            <div>首页</div>-->
<!--            <div>上一页</div>-->
<!--            <ul>-->
<!--              <li class="active">1</li>-->
<!--              <li>2</li>-->
<!--              <li>3</li>-->
<!--            </ul>-->
<!--            <div>下一页</div>-->
<!--            <div>末页</div>-->
<!--            <span>共10页</span>-->
<!--            <span>30条记录</span>-->
<!--            <span>到第</span>-->
<!--            <input type="text" />-->
<!--            <span>页</span>-->
<!--            <button>确定</button>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="top">
          <ul>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom1.png}" alt="" />
                <span>售后服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom.png}" alt="" />
                <span>物流服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom2.png}" alt="" />
                <span>联系电话</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
          
        </div>
      </div>
      <div class="down">
        Deer.Copyright ©2022
      </div>
    </div>
  </body>
  <script th:src="@{/static/script/order.js}"></script>
</html>
