<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{static/css/common.css}" />
    <link rel="stylesheet" th:href="@{static/css/cart.css}" />
    <link rel="stylesheet" th:href="@{static/css/bookManger.css}" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{index}">
            <img th:src="@{static/img/logo.gif}" alt=""
          /></a>
          <h1>图书管理系统</h1>
        </div>
        <div class="header-right">
          <a href="#" class="order">图书管理</a>
          <a th:href="@{orderManager(method='orderManager')}" class="destory">订单管理</a>
          <a th:href="@{index}" class="gohome">返回商城</a>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <div class="add">
          <a th:href="@{jumpHtml(jump='book_add')}">添加图书</a>
        </div>
        <table>
          <thead>
            <tr>
              <th>图片</th>
              <th>商品名称</th>
              <th>价格</th>
              <th>作者</th>
              <th>销量</th>
              <th>库存</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr th:if="${#lists.isEmpty(session.books)}">
              <td colspan="7" style="text-align: center">抱歉,当前没有图书信息了!!!</td>
            </tr>
            <tr th:unless="${#lists.isEmpty(session.books)}" th:each="item : ${session.books}">
              <td>
                <img th:src="${item.imgPath}" alt="" />
              </td>
              <td th:text="${item.name}">活着</td>
              <td th:text="${item.price}">100.00</td>
              <td th:text="${item.author}">余华</td>
              <td th:text="${item.sales}">200</td>
              <td th:text="${item.stock}">400</td>
              <td>
                <a th:href="@{book(method='editBook',id=${item.bookId},pageNoStr=${session.pageNo})}">修改</a><a th:href="@{book(method='deleteBook',id=${item.bookId},pageNo=${session.pageNo})}" class="del">删除</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="footer">
          <div class="footer-right">
            <input type="button" value="首页" th:onclick="page(1)" th:disabled="${session.pageNo==1}">
            <input type="button" value="上一页" th:onclick="|page(${session.pageNo - 1})|" th:disabled="${session.pageNo==1}">
            <ul id="pageUl">
              <li style="display: none"
                  th:each="item : ${session.listPage}"
                  th:text="${item}"
                  th:class="${item == session.pageNo ? 'active' : ''}"
                  th:onclick="|page(${item})|"
              ></li>
            </ul>
            <input type="button" value="下一页" th:onclick="|page(${session.pageNo + 1})|" th:disabled="${session.pageNo==session.pageCount}">
            <input type="button" value="末页" th:onclick="|page(${session.pageCount})|" th:disabled="${session.pageNo==session.pageCount}">
            <span>共<e th:text="${session.pageCount}" class="e">xx</e>页</span>
            <span th:text="${session.count}+'条记录'">30条记录</span>
            <span>到第</span>
            <input id="toPage" type="text">
            <span>页</span>
            <input id="pageCount" type="hidden" th:value="${session.pageCount}">
            <button id="toPageBtn" disabled="false">确定</button>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="top">
          <ul>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom1.png}" alt="" />
                <span>售后服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom.png}" alt="" />
                <span>物流服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom2.png}" alt="" />
                <span>联系电话</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
          
        </div>
      </div>
      <div class="down">
        Deer.Copyright ©2022
      </div>
    </div>
    <script th:src="@{static/script/book_manager.js}"></script>
  </body>
</html>
