<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{static/css/common.css}" />
    <link rel="stylesheet" th:href="@{static/css/style.css}" />
    <link rel="stylesheet" th:href="@{static/css/cart.css}" />
    <link rel="stylesheet" th:href="@{static/css/bookManger.css}" />
    <link rel="stylesheet" th:href="@{static/css/register.css}" />
    <link rel="stylesheet" th:href="@{static/css/book_add.css}" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{index}">
            <img th:src="@{static/img/logo.gif}" alt=""
          /></a>
          <h1>添加图书</h1>
        </div>
        <div class="header-right">
          <a th:href="@{book(method='book_manager')}" class="order">图书管理</a>
          <a th:href="@{jumpHtml(jump='order_manager')}" class="destory">订单管理</a>
          <a th:href="@{index}" class="gohome">返回商城</a>
        </div>
      </div>
    </div>
    <div class="login_banner">
      <div class="register_form">
        <form th:action="@{book(method='addBook')}" method="post" enctype="multipart/form-data">
          <div class="form-item" style="padding-top: 14px;">
            <div>
              <label>封面:</label>
              <input type="file" name="img_path" style="line-height: 40px;border: 0px;"/>
            </div>
            <span class="errMess"></span>
          </div>
          <div class="form-item">
            <div>
              <label>名称:</label>
              <input type="text" placeholder="请输入名称" name="escape(name)"/>
            </div>
            <span class="errMess" style="visibility: visible;"
              >请输入正确的名称</span
            >
          </div>
          <div class="form-item">
            <div>
              <label>价格:</label>
              <input type="number" step="0.01" placeholder="请输入价格" name="price"/>
            </div>
            <span class="errMess">请输入正确数字</span>
          </div>
          <div class="form-item">
            <div>
              <label>作者:</label>
              <input type="text" placeholder="请输入作者" name="author"/>
            </div>
            <span class="errMess">请输入正确作者</span>
          </div>
          <div class="form-item">
            <div>
              <label>销量:</label>
              <input type="number" placeholder="请输入销量" name="sales"/>
            </div>
            <span class="errMess">请输入正确销量</span>
          </div>
          <div class="form-item">
            <div>
              <label>库存:</label>
              <input type="number" placeholder="请输入库存" name="stock"/>
            </div>
            <span class="errMess">请输入正确库存</span>
          </div>
          <button class="btn">提交</button>
        </form>
      </div>
    </div>
    <div class="bottom">
      Deer.Copyright ©2022
    </div>
  </body>
</html>
