<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{static/css/common.css}" />
    <link rel="stylesheet" th:href="@{static/css/cart.css}" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{index}">
            <img th:src="@{static/img/logo.gif}" alt=""
          /></a>
          <h1>我的购物车</h1>
        </div>
        <div class="header-right">
          <h3>欢迎<span>会员</span>光临Deer书城</h3>
          <div class="order"><a th:href="@{jumpHtml(jump='order')}">我的订单</a></div>
          <div class="destory"><a th:href="@{index}">注销</a></div>
          <div class="gohome">
            <a th:href="@{index}">返回</a>
          </div>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>图片</th>
              <th>商品名称</th>

              <th>数量</th>
              <th>单价</th>
              <th>金额</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img th:src="@{static/uploads/huozhe.jpg}" alt="" />
              </td>
              <td>活着</td>
              <td>
                <span class="count">-</span>
                <input class="count-num" type="text" value="1" />
                <span class="count">+</span>
              </td>
              <td>36.8</td>
              <td>36.8</td>
              <td><a href="">删除</a></td>
            </tr>
            <tr>
              <td>
                <img th:src="@{static/uploads/kanjian.jpg}" alt="" />
              </td>
              <td>看见</td>
              <td>
                <span class="count">-</span>
                <input class="count-num" type="text" value="1" />
                <span class="count">+</span>
              </td>
              <td>40.1</td>
              <td>40.1</td>
              <td><a href="">删除</a></td>
            </tr>
            <tr>
              <td>
                <img th:src="@{static/uploads/kanjian.jpg}" alt="" />
              </td>
              <td>
                假如书名太长了,只展示一部分书名.自动展示省略号
              </td>
              <td>
                <span class="count">-</span>
                <input class="count-num" type="text" value="1" />
                <span class="count">+</span>
              </td>
              <td>40.1</td>
              <td>40.1</td>
              <td><a href="">删除</a></td>
            </tr>
            <tr>
              <td>
                <img th:src="@{static/uploads/kanjian.jpg}" alt="" />
              </td>
              <td>
                假如书名太长了,只展示一部分书名.自动展示省略号
              </td>
              <td>
                <!-- <div> -->
                <span class="count">-</span>
                <input class="count-num" type="text" value="100" />
                <span class="count">+</span>
                <!-- </div> -->
              </td>
              <td>40.1</td>
              <td>40.1</td>
              <td><a href="">删除</a></td>
            </tr>
            <tr>
              <td>
                <img src="../../static/uploads/kanjian.jpg" alt="" />
              </td>
              <td>
                假如书名太长了,只展示一部分书名.自动展示省略号
              </td>
              <td>
                <span class="count">-</span>
                <input class="count-num" type="text" value="99" />
                <span class="count">+</span>
              </td>
              <td>40.1</td>
              <td>40.1</td>
              <td><a href="">删除</a></td>
            </tr>
          </tbody>
        </table>
        <div class="footer">
          <div class="footer-left">
            <a href="#" class="clear-cart">清空购物车</a>
            <a href="#">继续购物</a>
          </div>
          <div class="footer-right">
            <div>共<span>3</span>件商品</div>
            <div class="total-price">总金额<span>99.9</span>元</div>
            <a class="pay" href="checkout.html">去结账</a>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="top">
          <ul>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom1.png}" alt="" />
                <span>售后服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom.png}" alt="" />
                <span>物流服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom2.png}" alt="" />
                <span>联系电话</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
          
        </div>
      </div>
      <div class="down">
        Deer书城.Copyright ©2022
      </div>
    </div>
  </body>
</html>
